* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Trebuchet MS", sans-serif;
}

/* Header */

.header {
  background: url("picture/picture_background.jpg");
  background-size: 100% 720px;
  background-repeat: no-repeat;
  width: 100%;
  height: 720px;
}

.header-top__content {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}

.head-content__menu-logo {
  display: flex;
  flex-basis: 12%;
  justify-content: space-between;
}

.menu {
  padding-top: 10px;
}

.image-menu {
  height: 20px;
  width: 20px;
}

.button-menu {
  border: 0;
  background-color: white;
  font-size: 20px;
  font-weight: 1000;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
}

.link-logo::after {
  content: "Eats";
  color: green;
  font-size: 30px;
}

.link-logo {
  height: 24px;
  font-size: 30px;
  color: black;
}

.link-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  height: 56px;
  width: 89.55px;
  border-radius: 50px;
  background-color: #eee;
  color: #000;
  font-size: 18px;
  font-weight: 700px;
}

.header-title {
  padding: 0 40px;
  height: 200px;
  position: relative;
  top: 150px;
}

.title__text {
  margin-bottom: 40px;
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
}

.header-search {
  display: flex;
}

.header-search__form {
  display: flex;
  flex-basis: 60%;
  justify-content: space-between;
  height: 56px;
}

.header-search__input {
  position: relative;
}

.location-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 15px;
}

.input {
  background-color: #eee;
  padding-left: 50px;
  width: 540px;
  max-height: 56px;
  height: 56px;
  font-size: 17px;
  border: 0;
  outline: none;
}

.input:focus {
  border-bottom: 3px solid #000;
  transition: 0.2s;
}

.header-search__select-clock {
  position: relative;
}

.clock-icon {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 19px;
  left: 8px;
}

.select {
  background-color: #eee;
  padding-left: 35px;
  width: 191px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  outline: none;
}

.button {
  padding: 12px 16px;
  width: 116px;
  height: 56px;
  color: white;
  background-color: black;
  font-size: 18px;
}

.textlink {
  color: black;
  text-decoration: underline;
  font-size: 14px;
}

.textlink:hover {
  text-decoration: underline;
}

.header-textlink {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
}

/* Основная информация страницы */

.container__info-links {
  padding: 80px 40px 0;
  height: 405px;
}

.info-links {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.info-links__image {
  padding: 0 10px;
}

.image {
  width: 463.73px;
  height: 259.5px;
  object-fit: cover;
  margin-bottom: 8px;
}

.image-title {
  font-size: 30px;
  font-weight: 800;
  color: black;
}

.image-subtitle {
  margin-top: 8px;
  font-size: 16px;
  text-decoration: underline;
  color: black;
}

/* Блок карты */

.google-map {
  padding: 80px 40px 0;
}

.google-map__map-title {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.map-link {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-decoration: underline;
}

.map-coordinates {
  height: 360px;
  width: 1439.2px;
  padding-top: 20px;
  border: 0;
}

/* Области */

.areas-columns {
  margin-top: 24px;
  padding: 0 40px;
  display: flex;
  justify-content: flex-start space-around;
  align-items: flex-start;
  line-height: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
}

.column a {
  font-size: 16px;
  color: #000;
}

/* Страны */

.countries-columns {
  padding: 80px 40px 0;
}

.countries {
  margin-top: 24px;
  display: flex;
  justify-content: flex-start space-around;
  line-height: 50px;
}

/* Footer */

.footer-bg {
  margin-top: 80px;
  padding: 72px 40px 88px;
  width: 100%;
  height: 521px;
  background-color: #000;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content__logo a {
  color: white;
}

.footer-content__logo {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: space-between;
}

.download-link img {
  width: 135px;
  height: 40px;
}

.footer-content__menu {
  display: flex;
  flex-basis: 50%;
  justify-content: space-around;
}

.footer-content__menu a,
li {
  list-style: none;
  font-size: 16px;
  color: white;
  line-height: 40px;
  text-decoration: none;
  flex: 0 0 190;
  flex-wrap: nowrap;
}

.menu-list {
  width: 236px;
  height: 224px;
}

.menu-list li:hover {
  text-decoration: underline;
}

.footer-space hr {
  margin: 40px 0;
  max-height: 1px;
}

.footer-content__bottom {
  height: 36px;
  display: flex;
  justify-content: space-between;
}

.social-network {
  display: flex;
  justify-content: space-around;
  flex-basis: 96px;
}

.social-icon {
  width: 16px;
  height: 16px;
}

.bottom-content {
  display: flex;
  flex-basis: 487.3px;
  justify-content: space-between;
}

.bottom-content a {
  color: white;
  font-size: 14px;
}

.bottom-content a:hover {
  text-decoration: underline;
}

.license {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  color: white;
}
