body{
	margin: 0;
	padding: 0;
	background: url(https://images.all-free-download.com/images/graphiclarge/seamless_pattern_food_312943.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100vh;
	font-family: UberMoveText, sans-serif;
}
.text{
	font-size: 30px;
}
h4::after{
	content: "Eats";
	color: green;
	font-size: 30px;
}
.text2{
	font-size: 40px;
}
input{
font-size: 17px;
height:40px ;
width:400px ;
background-color: lavender;
border: solid 0px;
}
select{
	font-size: 17px;
	width: 130px;
	height: 45px;
	background-color: lavender;
	border: solid 0px;
}

.but1{
	background-color: black;
	color: white;
	position:relative;
	font-size: 17px;
	height: 45px;
	border: solid 0px;
}
.but2{
	background-color:lavender;
	position:fixed;
	top: 50px;
	left: 1400px;
	font-size: 20px;
	height: 60px;
	width: 90px;	
	border-radius: 50px/50px;
	border: solid 0px;
}
.link{
	color: black;
	text-decoration: none;
}

.textlink{
	color-interpolation: black;
	text-decoration: no-underline;
	font-size: 14px;
}

